:root {
    --red-brighten: #D4000A;
    --red-color: #C82506;
    --lighten-red: #E22F20;
    --subtle-red: #FC6C52;
    --darken-red: #AF0C00;
    --black-color: black;
    --grey-color: #F3F3F3;
    --grey-darken: #C4C4C4;
    --blue: #037BC0;
    --blue-darken: #02466F;
    --blue-lighten: #0A92E2;
}