@import "../../globals.css";

:root {
    --main-width: 500px;
    --side-width: 400px;
    --scale: 0.4;
}

section {
    position: relative;
}

#content {
    margin-right: calc(var(--side-width) * var(--scale) + 30px);
    height: 95vh;
    overflow-y: scroll;
}

#preview__container {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(95vh * (1/var(--scale)) );
    overflow-y: hidden;

    width: var(--side-width);

    transform-origin: 100% 0;
    transform: scale(var(--scale));

    background-color: var(--grey-color);
    color: var(--red-color);
}

.preview__highlight {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--grey-darken);
}

