.two-columns {
    display: grid !important;
    grid-gap: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}


.sticky-container {
    height: 300px;
    overflow-y: scroll;
}

.placeholder {
    height: 100px;
    background-color: var(--grey-color);
}

.placeholder--large {
    height: 400px;
}

#sticky {
    width: 100%;
    height: 400px;
    background-color: var(--grey-darken);
    position: relative;
}

#sticky .sticky-item {
    width: 300px;
    height: 100px;
    background-color: var(--red-color);
    color: var(--grey-color);
    font-size: 0.8em;
    position: sticky;
    top: 30px;
    left: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section img {
    max-height: 95vh;
}

#spartez .source, #spartez .quote-author {
    color: var(--grey-darken);
    font-size: 0.5em;
    font-style: italic;
}

#spartez .source::before {
    content: 'Źródło: '
}

.line-through {
    text-decoration: line-through;
}

.slide-emphasise {
    color: white;
}