@import "../../globals.css";

.card {
    margin: 30px;
    padding: 40px;
    width: 300px;
    height: 100px;

    overflow: auto;
    resize: both;
}

.card-content {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

body {
    background-color: white;
}


#options {
    position: fixed;

    right: 10px;
    top: 10px;
}